.block-vertical{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.block-horizontal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.block-horizontal-between{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-horizontal-start{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.p-3{
    padding: 1.5rem 0;
}
