.landing-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;
}
.landing-body .landing-headline{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    padding: 20px;
}
.landing-body .landing-headline .landing-text h3{
    font-size: 3.1rem;
    font-weight: 600;
    color: #65C2A5;
    margin-bottom: 10px;
}
.landing-body .landing-headline .landing-text p{
    font-size: 1.1rem;
    font-weight: 300;
    color: #737373;
    margin-bottom: 20px;
}
.landing-body .landing-img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 20px;
}
.landing-body .landing-img img{
    max-width: 100%;
}

@media screen and (max-width: 1200px) {
    .landing-body .landing-headline{
        width: 50%;
    }
    .landing-body .landing-img img{
        width: 90%;
    }
    .landing-body .landing-headline .landing-text h3{
        font-size: 2.5rem;
    }
    .landing-body .landing-headline .landing-text p{
        font-size: .9rem;
    }
}

@media screen and (max-width: 876px) {
    .landing-body{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .landing-body .landing-img{
        justify-content: center;
        padding: 20px 0px;
    }
    .landing-body .landing-img img{
        width: 80%;
        min-width: 200px
    }
    .landing-body .landing-headline{
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 20px 0px;
    }
}