.logo{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.logo img{
    width: 40px;
}
.logo h2{
    font-size: 1.2rem;
    font-weight: 500;
    color: #737373;
    margin-left: 10px;
}