@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Open Sans';
}

body{
    max-width: 1500px;
    min-width: 100%;
    min-height: 100vh;
    background-color: #F2F2F2;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
button{
    border: none;
}
img{
    object-fit: cover;
    object-position: center;
}
