.form-container{
    width: 30rem;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 2px 4px 10px rgba(217, 217, 217, 0.8);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
form{
    width: 100%;
}
.form-body{
    margin-top: 30px;
}
.img-back{
    position: absolute;
    min-height: 100vh;
    width: 100%;
    z-index: -10;
    top: 0;
    bottom: 0;
}
.content-align{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}
@media screen and (max-width: 300px) {
    .content-align{
        padding: 40px 10px;
    }
    .form-container{
        padding: 30px;
        min-width: 200px;
    }
}
@media screen and (max-height: 450px){
    .img-back{
        min-height: 100vh;
    }
}

@media screen and (min-height: 450px){
    .img-back{
        height: 100%;
    }
}